*,::after,::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0 100px;
    background-color: bisque;
  }
  
  /* =======MENU======= */
  .nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
  
  .nav .logo h1 {
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(158, 74, 53);
  }
  
  .nav .logo b {
    color: rgb(39, 22, 17);
  }
  
  .nav ul {
    display: flex;
    list-style: none;
  }
  
  .nav ul li {
    margin-right: 30px;
  }
  
  .nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
  }
  
  .nav ul .active::after {
    content: '';
    width: 50%;
    height: 3px;
    background-color: brown;
    display: flex;
    position: relative;
    margin-left: 10px;
  }
  
  /* ======= INPUT ======= */
  input {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .signin {
    background: transparent;
    border: none;
  }
  
  .signup {
    background-color: rgb(158, 74, 53);
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  /* ======= CONTENT ======= */
  .content {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 120px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .content-left {
    display: block;
    width: 100%;
  }
  
  .content-left .info h2 {
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
  }
  
  .content-left .info p {
    font-size: 23px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
  }
  
  .content-left button {
    padding: 10px 23px;
    background-color: brown;
    color: antiquewhite;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .content-right img {
    width: 400px;
    height: auto;
    position: relative;
    user-select: none;
    animation: rotate 10s linear infinite;
  }
  
  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
  
    100% {
        transform: rotate(360deg);
    }
  }
  
  /* ======= CATEGORY ======= */
  .category {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
  
  .category .list-items {
    width: 90%;
    position: relative;
    margin-top: 50px;
  }
  
  .category .list-items h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
  }
  
  .category .card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .category .card {
    width: 100%;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background: #ffffff;
    outline: 2px solid #faad90;
  }
  
  .category .card img {
    width: 100px;
    height: auto;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 20px 20px #faad90;
    border-radius: 50%;
  }
  
  .category .food-title h1 {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
  }
  
  .category .desc-food p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
  }
  
  .category .pricee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-family: sans-serif;
  }
  
  .category .pricee span {
    font-weight: 600;
    font-family: sans-serif;
  }
  
  .category .pricee i {
    color: rgb(95, 40, 40);
    font-size: 20px;
    cursor: pointer;
  }
  
  /* ======= RESPONSIVE STYLES ======= */
  @media screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
        margin-top: 60px;
    }
  
    .content-left .info h2 {
        font-size: 40px;
    }
  
    .content-left .info p {
        font-size: 18px;
    }
  
    .content-right img {
        width: 300px;
        margin-top: 20px;
    }
  
    .category .card-list {
        grid-template-columns: 1fr 1fr;
    }
  
    .category .card img {
        width: 80px;
        height: 80px;
        bottom: 90px;
        left: 60px;
    }
  
    .category .food-title h1 {
        font-size: 14px;
    }
  
    .category .desc-food p {
        font-size: 12px;
    }
  
    .category .pricee {
        font-size: 14px;
    }
  }
  
  /* ======= scroll-bar======= */
  
  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: aquamarine;
  }

.menu .box-container.box .image img{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.menu .box-container .box .image img{
height: 25rem;
}
.menu .box-container .box:hover .image img{
    transform: scale(1.1);
}

.menu .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left:0; right: 0;
    display: flex;
}
.menu .box-container .box:hover .image .icons{
    bottom: 0;
}

.menu .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--brown);
    color: aqua;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width:100%;
}
.products .box-container .box .image .icons a:hover{
    background: #fff7;
}

.products .box-container .box .content span{
    font-size: 2.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.review.box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position:relative;
    border: .1rem solid rgba(0,0,0,.1);
}
.review.box-container .box .fa-quote-right{
    position: absolute;
    buttom:3rem; right: 3rem;
    font-size: 6rem;
    color:#eee;
}

.review .box-container .box .stars i{
    color: var(--brown);
    font-size: 2rem;
}

.review .box-container .box p{
    color: #999;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: #333;
}
.review .box-container .box .user span{
    font-size: 1.5rem;
    color: #333;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0.5rem 1rem rgb(0,0,0,.1);
    border:.1rem solid rgb(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}
.contact .row image{
    flex: 1 1 40rem;
}
.contact .row image img{
    width: 100%;
}

.contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}
.contact .row form .box.box:focus{
    border-color: var(--brown);
}
.contact .row form .textarea{
    height: 15rem;
    resize: none;
}